body{
    margin:0;
    padding:0;
    background:url("images/background.jpg");
    image-rendering: smooth;
}
h3{
    font-family:"Arial", sans-serif;
    color:white;
    margin-left:30px;
    border:2px solid rgb(255, 255, 255);
    height:fit-content;
    width:fit-content;
    background-color:rgb(39, 62, 80);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin-top:30px;
    border-radius:10px;
    font-size:40px;
    
}
.container{
    display: flex;
    flex-direction: row;
}
.nav_bar {
    width: 180px;
    height: 100vh;
    background-color: rgb(96, 105, 160); 
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    font-family: fantasy  
}

li#title {
    font-size: 20px;
}

li.nav_item {
    display: flex;             
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 150px;   
    height:50px;
    border:2px solid rgb(0, 0, 0);
    border-radius:10px;
    transition:all 0.2s linear;
    box-shadow: 2px 2px 10px 2px ;  
}
.nav_item:hover{
    transform:scale(1.05);
    background-color: #ffffff;
    cursor:pointer;
}

li.nav_item img {
    width: 40px;
    height: 30px;
    margin-left:5px;
}

li.nav_item a {
    width:100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
}
#info{
    margin-left:10px;
    display:flex;
    flex-direction:row;
    gap:15px;
    border:2px solid rgb(255, 255, 255);
    height:fit-content;
    width:fit-content;
    background-color:rgb(39, 62, 80);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin-top:10px;
    border-radius:10px;
}
#info1{
    margin-left:10px;
    display:flex;
    flex-direction:row;
    gap:10px;
    border:2px solid rgb(255, 255, 255);
    height:fit-content;
    width:fit-content;
    background-color:rgb(39, 62, 80);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin-top:10px;
    border-radius:10px;
    font-size:13px;

}
#info1 h1{
    font-family:"Arial", sans-serif;
    padding:10px;
    color:white;
}

.info_container{
    display:flex;
    flex-direction:column;
}

h2{
    font-family:"Arial", sans-serif;
    margin-left:30px;
    color:white;    
    background-color: rgb(8, 76, 136);
    height:fit-content;
    width:auto;
    transition:all 0.2s linear;
    border-radius: 5px;
    font-size:37px;
    user-select: none;
}
h2:hover{
    cursor:default;
    transform:scale(1.05);
    color:rgb(8, 76, 136);
    background-color:white; 
}



#logout{
    font-family:"Arial", sans-serif;
    text-decoration:none;
    color:rgb(255, 255, 255);
    background-color: rgb(8, 76, 136);
    height:fit-content;
    font-size:15px;
    transition:all 0.2s linear;
    margin-top:35px;
    border-radius: 5px;
    font-size:30px;
}
#logout:hover{
    cursor:pointer;
    background-color:white;
    color:rgb(8, 76, 136);
    transform:scale(1.05);
}

.pie_chart{
    width:fit-content;
    height:fit-content;
    margin:0px 0px 0px 30px;
    display:flex;
    flex-direction:column;
    align-items: center;

}
#pie{
    width: 300px;
    height: 300px;

}