body{
    margin:0;
    padding:0;
    background:url("images/background.jpg");
    image-rendering: smooth;
}

.container{
    display: flex;
    flex-direction: row;
}
.nav_bar {
    width: 180px;
    height: 100vh;
    background-color: rgba(142, 76, 255, 0.6); 
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

}

li#title {
    font-size: 20px;
    color:white;
}

li.nav_item {
    display: flex;             
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 150px;   
    height:50px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow:
        0 0 10px rgba(142, 76, 255, 0.5);
    border-radius:10px;
    transition:all 0.2s linear;

}
.nav_item:hover{
    transform:scale(1.05);
    background-color: #212086;
    cursor:pointer;
}

li.nav_item img {
    width: 40px;
    height: 30px;
    margin-left:5px;
}

li.nav_item a {
    width:100%;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
}
.profile {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 50%;
    padding: 20px;
    gap: 15px;
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.3);
}

.profile p {
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow:
        0 0 10px rgba(142, 76, 255, 0.5);
    padding: 10px;
    background-color: rgba(142, 76, 255, 0.6); 
    user-select: none;
    border-radius:5px;
}

.pass {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(142, 76, 255, 0.6); 
    padding:5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow:
        0 0 10px rgba(142, 76, 255, 0.5);
    border-radius:5px;
}

.pass p {
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
    border-radius:5px;
}

.pass input {
    height: 20px;
    padding: 5px;
    font-size: 18px;
    border-radius:5px;
}

.toggle-btn {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border-radius:5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow:
        0 0 10px rgba(142, 76, 255, 0.5);
}
.toggle-btn:hover{
    background-color: #212086;

}

.toggle-btn .icon {
    width: 100%;
    height: 100%;
}

.gender {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.save-btn {
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius:10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow:
        0 0 10px rgba(142, 76, 255, 0.5);
    color:white;
    background-color: rgba(142, 76, 255, 0.6); 
    transition:all 0.2s linear
}
.save-btn:hover{
    transform:scale(1.05);
    background-color:rgb(255, 255, 255);
    color:black;
    border:2px solid white;

}
.save{
    display:flex;
    flex-direction:row;

    align-items: center;
    height:100px;
    gap:10px;
}
.save h3{
    color:rgb(0, 255, 0);
    display:none;
    transition:all 0.2 linear;

}